.container
    .top_task
        .task_title
            = @task.title
        .task_detail_actions 
            .task_edit
                = image_tag '3dots.svg', class: 'dropbtn'
                .task_edit_content
                    = link_to 'Edit', edit_board_task_path(@board, @task)
                    = link_to 'Dlete', board_task_path(@board, @task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
    .task_deadline
        = @task.deadline
    - if @task.eyecatch.attached?
        .task_image
            = image_tag @task.eyecatch
    .task_description
        %p= @task.description
    %h2.comment_header Comment
    - @comments.each do |comment|
        .comment_row
            .comment_creater
                = image_tag comment.user.avatar_image
            .comment_content
                %p= comment.comment        
    .board-add
        = link_to '+ Add new comment', new_board_task_comment_path(@board,@task)