.container
    %h2 All Boards
    - @boards.each do |board|
        .board
            .frame
                = link_to board_cards_path(board) do
                    .frame_top
                        .frame_title
                            = board.title
                        - if user_signed_in? && current_user.has_written(board)
                            .frame_edit
                                .dropdown
                                    = image_tag '3dots.svg', class: 'dropbtn'
                                .dropdown-content
                                    = link_to 'Edit', edit_board_path(board)
                                    = link_to 'Delete', board_path(board), class: 'delete', data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
                .frame_description
                    = board.description
                .frame_creater
                    = image_tag board.user.avatar_image
    .board-add
        %p + Add new board

            